@media screen and (max-width: 600px){
    body{
        height: 100%;
    }
    header{
        display: block;
        height: 30vh;
    }
    .box{
        height: 7vh;
        width: 100%;
        margin: 5px 0 0 0;
        border-radius: 10px;
    }
    main{
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    article{
        display: block;
        height: 62vh;
    }
    .box1{
        height: 15vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }
    footer{
        height: 7vh;
        margin-top: 8px;
    }
    main>p{
        margin-right: 0;
    }
    .box1>p{
        margin-right: 0;
    }
}